@font-face {
  font-family: "Droid Sans Mono";
  src: url("../public/fonts/DroidSansMono.ttf") format("opentype"); 
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-ExtraLight.ttf") format("opentype"); 
}

html, body, #__next {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.erroMsg {
  color: red;
  margin-right: auto;
  margin-left: auto;
  max-width: 250px;
  font-family: "Droid Sans Mono";
  
}
.successMsg {
  margin-right: auto;
  margin-left: auto;
  max-width: 290px;
  color: green;
  font-family: "Droid Sans Mono";
  word-wrap: normal;
}