.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div{
  width: 80vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-align: center;
}

.title {
  max-width: 600px;
  font-weight: bold;
  margin: 14px auto 28px;
  font-size: 2em;
  font-family: 'Montserrat';
}

.description {
  margin: 0px 28px;
  font-size: 1em;
  font-family: 'Droid Sans Mono'
}

.inputcontainer {
  margin-top: 10px;
}

.social {
  margin-top: 15px;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 1.2em;
  }
}

@import '../components/input/input.module.css';